* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Heebo", sans-serif;
  }
  
  .top-header {
    height: 40px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    color: #80a640;
    font-size: 14px;
    border-bottom: solid rgb(235, 235, 235);
    border-width: 0.25px;
  }
  .top-header .leftside .hi {
    font-size: 9px;
    border: 2px solid #80a640;
    padding: 1px 1px 0 1px;
  
    margin-right: 5px;
  }
  .top-header .rightside {
    color: rgb(121, 121, 121);
  }
  .top-header .rightside .number {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid rgb(188, 188, 188);
  }
  
  
  
  /* NAVBAR */
  
  .navbar {
    height: 90px;
    width: 100%;
    /* background-color: beige; */
  
    color: #2a541f;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 0 40px;
  }
  .navbar .logo img {
    height: 60px;
  }
  .navbar .links ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  .navbar .links a {
    text-decoration: none;
    color: #2a541f;
    transition: 0.25s ease-in-out;
  }
  .navbar .links a:hover {
    color: #6a961f;
  }
  
  .navbar .cta .contact-us-btn {
    height: 40px;
    width: 120px;
    background-color: #6a961f;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-in-out;
    cursor: pointer;
  }
  .navbar .cta .contact-us-btn a {
    text-decoration: none;
    color: white;
  }
  .navbar .cta .contact-us-btn:hover {
    background-color: rgb(52, 52, 52);
  }


.container{
    min-height: 100vh;
    padding: 80px 120px;
    display: flex;
    width: 100%;
    gap: 30px;
}
.container .leftside{
    flex: 2;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
.container .top-img{
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.container .leftside .flexbox{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.container .leftside .flexbox img{
    /* flex: 1; */
    /* height: 100%; */
    width: 48%;
    border-radius: 5px;
}
.container .rightside{
    flex: 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container .rightside .header{
    font-size: 36px;
    font-weight: 700;
    color: #0d3c00;
    margin-bottom: 30px;
}
.container .rightside .subheading{
    font-size: 24px;
    color: #414141;
    margin-bottom: 30px;
}
.container .rightside p{
    color:#6e6e6e;
    line-height: 24px;
    margin-bottom: 30px;
}
.container .rightside .get-a-quote-btn{
    height: 50px;
    width: 200px;
    border-radius:5px;
    background-color: #2a541f;
    margin-bottom: 30px;
}
.container .rightside .get-a-quote-btn a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.container .rightside ol{
  color: #6e6e6e;
  list-style: disc;
  padding-left: 15px;
}
.container .rightside ol li{
  font-size: 16px;
  margin-bottom: 8px;
}


.contact-us {
    height: 80vh;
    width: 100%;
    background-color: #f9f9f9;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-us .heading {
    font-size: 25px;
    color: rgb(38, 38, 38);
    font-weight: 700;
    margin-bottom: 30px;
  }
  .contact-us .grid {
    width: 100%;
    /* height: 100%; */
    display: grid;
    gap: 20px;
    grid-template-columns: 49% 49%;
    /* grid-template-rows: auto auto;s */
  }
  .contact-us input {
    padding: 10px;
    font-size: 16px;
    height: 50px;
    border: solid rgb(223, 223, 223);
    border-width: 0.2px;
    /* width: 48%; */
    /* margin: 10px; */
  }
  .contact-us textarea {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: solid rgb(223, 223, 223);
    border-width: 0.2px;
  }
  .contact-us .submit-btn {
    margin-top: 20px;
    height: 40px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
    transition: 0.25s ease-in-out;
    cursor: pointer;
  }
  .contact-us .submit-btn:hover {
    background-color: #6e6e6e;
  }
  
  .footer {
    height: 100vh;
    width: 100%;
    background-color: #0d3c00;
    padding: 80px 120px;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
  }
  
  .footer .fentech {
    flex: 1;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    color: white;
    align-items: start;
    justify-content: start;
  }
  .footer .quick-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    justify-content: start;
    padding: 0 0 0 180px;
  }
  .footer .quick-links .header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer .quick-links ul li {
    list-style: none;
    margin-bottom: 13px;
  }
  .footer .quick-links ul li a {
    text-decoration: none;
    color: #9f9f9f;
  }
  .footer .quick-links ul li a:hover {
    color: white;
  }
  
  .footer .product-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    justify-content: start;
    padding: 0;
  }
  .footer .product-list .header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer .product-list ul li {
    list-style: none;
    margin-bottom: 13px;
  }
  .footer .product-list ul li a {
    text-decoration: none;
    color: #9f9f9f;
  }
  .footer .product-list ul li a:hover {
    color: white;
  }
  
  .footer .mobile {
    flex: 1;
    color: white;
  }
  .footer .mobile p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer .mobile img {
    border: 4px solid white;
    height: 40%;
  }
  .footer .banner{
      position: absolute;
      bottom: 0;
      height: 80px;
      background-color: #0a3000;
      width: 100%;
      margin-left: -120px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
  }
  .footer .banner p{
      font-weight: 300;
  }




  
@media screen and (max-width: 550px) {
  .top-header {
    display: none;
  }

  .container{
    min-height: 100vh;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
}
.container .leftside .flexbox{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.container .rightside .header{
    font-size: 24px;

}
.container .rightside .subheading{
    font-size: 18px;
}
.container .rightside p{
    color:#6e6e6e;
    line-height: 24px;
    margin-bottom: 30px;
}
.container .rightside .get-a-quote-btn{
    height: 50px;
    width: 200px;
    border-radius:5px;
    background-color: #2a541f;
    margin-bottom: 30px;
}
.container .rightside .get-a-quote-btn a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.container .rightside ol{
  color: #6e6e6e;
  list-style: disc;
  padding-left: 15px;
}
.container .rightside ol li{
  font-size: 16px;
  margin-bottom: 8px;
}


  .contact-us {
    height: 100vh;
    padding: 40px 20px;
  }
  .contact-us .grid {
    grid-template-columns: 99%;
    /* grid-template-rows: auto auto;s */
  }

  .footer {
    height: 90vh;
    padding: 80px 10px;
  }
  .footer .fentech img {
    width: 50%;
  }
  .footer .quick-links {
    display: none;
  }
  .footer .product-list {
    display: none;
  }
  .footer .mobile {
    display: none;
  }
  .footer .banner {
    margin-left: -10px;
  }
  .footer .banner p {
    font-weight: 300;
  }
}
